hr.custom-hr
div
  p If you find my article helpful, please consider giving it a thumbs up or expressing your appreciation with a like or comment below. Thank you for your support!
  script(type='text/javascript').
    document.write(
    "<iframe scrolling='no' frameborder='0' sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' style='height: 212px; width: 100%;' src='https://button.like.co/in/embed/oceanuheart/button?referrer=" +
    encodeURIComponent(location.href.split("?")[0].split("#")[0]) + "'></iframe>");