hr.custom-hr
div
  p 如果覺得我的文章不錯，歡迎幫我在下方給個 5 個讚～謝謝您的鼓勵和支持！
  script(type='text/javascript').
    document.write(
    "<iframe scrolling='no' frameborder='0' sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' style='height: 212px; width: 100%;' src='https://button.like.co/in/embed/oceanuheart/button?referrer=" +
    encodeURIComponent(location.href.split("?")[0].split("#")[0]) + "'></iframe>");